.container{
    width: 100%;
    margin: 50px auto 140px;
    background-image: url("../../img/recomendBg.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;

}
.text{
    margin: 0 auto;
    padding: 30px 0;
    max-width: 700px;
    color: #999798;
}
.person {
    position: absolute;
    margin: 0 auto;
    top:100px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;

}
.image{
    border-radius: 50%;
    border: 2px solid #dedede;
    width: 100px;
    height: 100px;
    background: #332f30;
}
p:first-child{
   font-weight: 700;
}