.testemon{
    background-image: url("../../img/recomendBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;

}
.text{
    text-align: center;
    margin: 20px 0px;
    padding: 20px;
    color: #999798;

}
p:first-child{
   font-weight: 700;
}