.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.logoArea{
    display: flex;
    align-items: center;

}
.logoArea p {
    margin: 0px;
}
.avatar{
    margin-right: 10px;
    background-color: #000000;
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.textName{
    font-weight: bold;
}
.proff{
    font-size: 12px;
}
.header{
margin-top: 20px;
}
.header__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.navigation{
    display: flex;
    justify-content: flex-start;
}
.navItem{
    margin-right: 40px;
    text-decoration: none;
    color:#000000;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.7;
    transition: all 0.2s linear;
}
.navItem:hover{

    padding: 0;
    opacity: 1;

}
.navItem:last-child:hover{
    color:#ffff;
    background-color:#2b2a2c ;
}
.navItem:last-child{
    border: 2px solid #000000;
    border-radius: 40px;
    padding: 8px 30px;
}