.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;

}
.top__inner{
    display: flex;
    justify-content: flex-start;
}
.infoBlock{
    display: flex;
    justify-content: center;
    flex-direction: column;


}
.infoText{
    font-size: 26px;
}
.infoText p {
    margin: 0px;
}
.name {
    font-weight: 700;
    font-size: 30px;
}
.prof{
    font-size: 18px;
}

.rightSide{
    background-image: url("../../img/designer_photo.png");
    background-repeat: no-repeat;
    background-position:right;
    width: 70%;
    height: 500px;
 }
.socialBlock{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
.socialItem{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.buttons{
    display:flex;
    text-align: center;
}

.button{
    margin-right: 20px;
    text-decoration: none;
    color:#000000;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.8;
    transition: all 0.2s linear;
    border: 2px solid #000000;
    border-radius: 60px;
    padding: 10px 25px;
}
.button:hover{
    opacity: 1;
    color:#ffff;
    background-color:#2b2a2c ;
}
@media (max-width: 756px){
    .rightSide{
        display: none;
    }
    .top__inner{
        display: flex;
        justify-content: center;
    }
}